<div class="container mt-5">
<div class="row">
  <div class="col-12">
    <form id="orderForm" action="/orders"  method="GET" #form>
      <input name="subscriptionId" placeholder="subscriptionId" >
      <button form="orderForm" type="submit" (click)="form.submit()">Sipariş Getir</button>
    </form>
  </div>
</div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">OrderId</th>
            <th scope="col">SubscriptionId</th>
            <th scope="col">DeliveryDate</th>
            <th scope="col">PaymentMethod</th>
            <th scope="col">Products</th>
            <th scope="col">TotalAmount</th>
            <th scope="col">Status/th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let orders of ordersData'>
            <th scope="row">{{orders.orderId}}</th>
            <td>{{orders.subscriptionId}}</td>
            <td>{{orders.deliveryDate}}</td>   
            <td>{{orders.products}}</td> 
            <td>{{orders.totalAmount}</td>
            <td>{{orders.status}}</td>
        
          </tr>
        </tbody>
      </table>

</div>

