<div class="container mt-5">
<div class="row">
  <div class="col-12">
    <form id="subscriptionForm" action="/subscriptions"  method="GET" #form>
      <input name="phoneNumber" placeholder="phoneNumber" >
      <button form="subscriptionForm" type="submit" (click)="form.submit()" >Müşteri Getir</button>
    </form>
  </div>
</div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">SubscriptionId</th>
            <th scope="col">FullName</th>
            <th scope="col">Address</th>
            <th scope="col">LocationName</th>
            <th scope="col">SubCityName</th>
            <th scope="col">CityName</th>
            <th scope="col">Brand</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">DistributorNumber</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let subscription of readData'>
            <th scope="row">{{subscription.subscriptionId}}</th>
            <td>{{subscription.fullname}}</td>
            <td>{{subscription.address}}</td>   
            <td>{{subscription.locationName}}</td> 
            <td>{{subscription.subCityName}}</td>
            <td>{{subscription.cityName}}</td>
            <td>{{subscription.brand}}</td>
            <td>{{subscription.phoneNumber}}</td>
            <td>{{subscription.distributorNumber}}</td>
          </tr>
        </tbody>
      </table>

</div>
