

<div class="container mt-5">
  <h1></h1>
  <ul class="nav">
    <li><a href="/orders">Orders</a></li> |
    <li><a href="/subscriptions">Subscriptions</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>